.form{
    padding: 10px;
    height: 100%;
    width: 100%;
}

input{
    padding: 10px;
    outline: none;
    border: none;
    background: white;
    position: relative;
    color: rgb(50, 50, 50);
    font-size: 14pt;
    
}

input::placeholder{
    color: rgb(150, 150, 150);
}



@keyframes viewCheckbox{
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width: 100%;
        height: 100%
    }
    100%{
        width: 60%;
        height: 60%;
    }
}

@keyframes hideCheckbox{
    0%{
        width: 60%;
        height: 60%;
    }
    50%{
        width: 100%;
        height: 100%
    }
    100%{
        width: 0%;
        height: 0%;
    }
}

.switchTape{

 
    white-space: nowrap;
    position: relative;

}

.switchTape>div{
    position: relative;
    display: inline-flex;
    width: 100%;

    opacity: 0;
    animation-duration: .5s;

    animation-fill-mode: forwards;
    
}


@keyframes switchVeiw{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@keyframes switchHide{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

