.form{
    padding: 10px;
    height: 100%;
    width: 100%;
}

input{
    padding: 10px;
    outline: none;
    border: none;
    background: white;
    position: relative;
    color: rgb(120, 120, 120);
    font-size: 14pt;
    
}

input::placeholder{
    color: rgb(180, 180, 180);
}

.translateFild::placeholder{
    color: rgb(245, 245, 245);
}

div[contenteditable=true]{
    padding: 10px;
    background: white;
    position: relative;
    color: rgb(120, 120, 120);
    font-size: 14pt;
    outline: none;
    position: relative;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    overflow-x: auto;
    border: 3px solid rgba(0,0,0,0);
    transition: border .3s;
}
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: rgb(180, 180, 180);
  }


div[contenteditable=true]:focus{
    border: 3px solid rgb(46, 139, 87);
}
@keyframes viewCheckbox{
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width: 100%;
        height: 100%
    }
    100%{
        width: 60%;
        height: 60%;
    }
}

@keyframes hideCheckbox{
    0%{
        width: 60%;
        height: 60%;
    }
    50%{
        width: 100%;
        height: 100%
    }
    100%{
        width: 0%;
        height: 0%;
    }
}

.switchTape{

 
    white-space: nowrap;
    position: relative;

}

.switchTape>div{
    position: relative;
    display: inline-flex;
    width: 100%;

    opacity: 0;
    animation-duration: .5s;

    animation-fill-mode: forwards;
    
}


@keyframes switchVeiw{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@keyframes switchHide{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.value{
    padding: 10px;
    color: rgb(46, 139, 87);
    cursor: pointer;
}

.value:hover{
    background: rgb(46, 139, 87, 0.1);
}

.selectList{
    border: 5px solid white;
    z-index: 9999; 
    position: absolute;
    background: white;
    width: 100%;
    left: -5px;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes list-open{
    0%{
        left: -30%;
        opacity: 0;
    }

    100%{
        left: -5px;
        opacity: 1;
    }
}

@keyframes list-hide{
    0%{
        left: -5px;
        opacity: 1;
        
    }

    100%{
        left: -30%;
        opacity: 0;
    }
}